{% extends "user_dashboard.html" %}
{% load static %}
{% block content %}
<section class = 'container mx-auto'>
    <div class='flex justify-center items-center mt-5 mb-5'>
         {% if messages %}
            {% for message in messages %}
              <h1 class = '{% if message.tags == 'success' %}font-bold text-green-500 text-[20px]{% endif %}'>{{message}}</h1>
            {% endfor %}
         {% endif %}
        <form action="#" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <button type='submit' class='px-2 py-1 bg-rose-600 rounded-md text-white mt-2'>Save Changes</button>
        </form>
    </div>
</section>
{% endblock content %}