<header class='bg-gray-300 py-2'>
        <nav class='container mx-auto'>
          <div class='flex flex-col md:flex-row gap-3 md:justify-between md:items-center'>
            <div>
                <li class='text-white font-semibold bg-blue-500 rounded px-2 list-none py-1 text-[20px]'>EventMaster</li>
            </div>
            <div>
                <button id='menu-btn' class='md:hidden text-blue-500 text-2xl'> == </button>
            </div>
            <div class='md:flex flex-col md:flex-row hidden' id='menu'>
                {% if request.user.is_authenticated %}
                    <form action="{% url "logout" %}" method='POST'>
                        {% csrf_token %}
                        <button type='submit' class='text-white font-semibold bg-blue-500 rounded px-2 py-2 mx-2 text-[20px]'>Logout</button>
                    </form>
                    <a href="{% url "dashboard" %}" class='text-white font-semibold bg-blue-500 rounded px-2 py-1 mx-2 text-[20px]'>Dashboard</a>
                    {% else %}
                        <a href="{% url "sign-up" %}" class='text-white font-semibold bg-blue-500 rounded px-2 py-1 mx-2'>Sign up</a>
                        <a href="{% url "sign-in" %}" class='text-white font-semibold bg-blue-500 rounded px-2 py-1 mx-2'>Login</a>
                {% endif %}
            </div>
          </div>
        </nav>
        <script>
            const menuBtn = document.getElementById('menu-btn')
            const menu = document.getElementById('menu')

            menuBtn.addEventListener('click', function(){
                menu.classList.toggle('hidden')
                menuBtn.textContent = menu.classList.contains('hidden')?'==':'X'
            })

        </script>
    </header>
